body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#predictions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.prediction {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}
